<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Kokino</title>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!--TODO: RE-DO the css bullshit. Make css files and import them where needed.-->
<style>
    body {
      background-color: #f6f5f5;
    }
    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #145374;
    }
    #footer1{
    margin-left:2%;
    float:left;

    }
    #footer2{
    margin-right:2%;
    float:right;
    }
    #footerText{
        color: white;
    }
    #contactContainer{
        padding-top: 50px;
    }
</style>
    <!--Even if it says the container for contact page is unused, it is -_- -->
</head>

<body>
{% include 'pages/navbar.html' %}
{% block content %}
    replace me
{% endblock%}
</body>

<footer>
<div id="footer1"><p id="footerText">Ola, am ur amazin' footer, am i not? </p></div>
<div id="footer2"><p id="footerText"> Created by kokino saucybois </p></div>
</footer>
</html>