{% extends 'pages/base.html' %}
{% load static %}
{% block content %}

    <div class="container justify-content-center" id="contactContainer">

      <div class="row">
        <div class="col-5">
          Contact:
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          Vasha 'Snakemeister' Deutscheman
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          742 Evergreen Terrace
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          minecraftSkillerz69@fortnite.io
        </div>
      </div>
    </div>
{% endblock%}