{% extends 'pages/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <style>
        #toilet_form{
            margin: 0 auto;
            padding-top: 50px;
            width:1000px;
        }
        #subBtn{
            background-color: #ee6f57;
        }


    </style>
    <form method="POST" action="" id="toilet_form">
        {% csrf_token %}
        <h1>Header</h1>
{#        TODO: Jebnout tam placeholdery, at to trochu vypada (napoveda, jak tam vypsat place etc.#}
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
                {{ form.category|as_crispy_field }}
                {{ form.place|as_crispy_field }}
            </div>
        </div>
        <input type="submit" value="Create new poopy place!" style="margin-left: 25%" class="btn" id="subBtn">
        {{ form.errors }}
    </form>
{% endblock %}